@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes movInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes movTop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes display {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  transition: all 0.3s; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: movInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.65rem;
    font-weight: 700;
    animation: movInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  display: inline-block;
  font-weight: 700;
  color: #55c57a;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @supports (-webkit-background-clip: text) {
    .heading-secondary {
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent; } }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem; } }

.u-margin-top-huge {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-huge {
      margin-top: 4rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  border: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  cursor: pointer; }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: movTop 1s 1s ease-out;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.15;
  z-index: -1; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.composition {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  @media only screen and (max-width: 37.5em) {
    .composition {
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(4, 4rem); } }
  .composition__img {
    object-fit: cover;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    outline-offset: 2rem;
    transform: translateY(-3rem);
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .composition__img {
        transform: translateY(0); } }
    .composition__img--1 {
      grid-column: 1 / span 5;
      grid-row: 1 / span 5;
      width: 100%;
      height: 100%; }
      @media only screen and (max-width: 37.5em) {
        .composition__img--1 {
          grid-column: 1 / 6;
          grid-row: 1/-1;
          transform: translateY(-0.5rem); } }
    .composition__img--2 {
      grid-column: 5 / -1;
      grid-row: 2 / 7;
      width: 100%;
      height: 100%;
      z-index: 3; }
      @media only screen and (max-width: 37.5em) {
        .composition__img--2 {
          grid-column: 4/ 9;
          grid-row: 1/-1;
          transform: translateY(-2rem); } }
    .composition__img--3 {
      grid-column: 3 / 8;
      grid-row: 4 / 9;
      width: 100%;
      height: 100%;
      z-index: 4; }
      @media only screen and (max-width: 37.5em) {
        .composition__img--3 {
          grid-column: 7/ -1;
          grid-row: 1/-1;
          z-index: 2; } }
    .composition__img:hover {
      transform: translateY(-3rem) scale(1.1);
      outline: 1.5rem solid #55c57a;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 6; }

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -webkit-perspective: 150rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52rem;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 0.8s; }
    .card__side--front {
      background-color: #fff;
      display: grid;
      grid-template-rows: 23rem auto;
      row-gap: 3rem; }
    .card__side--back {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    grid-column: 1/-1;
    grid-row: 1 /2;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    backface-visibility: hidden;
    height: 100%;
    background-blend-mode: screen;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    grid-column: 1 / -1;
    grid-row: 1/2;
    z-index: 2;
    justify-self: end;
    align-self: end;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    width: 75%;
    margin-right: 3rem;
    text-align: end; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 0 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    text-align: center;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      max-width: 45rem;
      width: 85%;
      height: auto;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          padding: 5rem 0;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0deg); }
      .card__heading {
        font-size: 2.5rem;
        margin-bottom: 3rem; }
      .card__details {
        padding: 0 1rem; }
      .card__cta {
        text-align: center;
        color: #fff;
        padding-top: 4rem; }
      .card__price-only {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 4rem;
        margin-bottom: 2.5rem; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: 10rem max-content auto;
  row-gap: 1.5rem;
  transition: all 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    color: #55c57a; }
    @supports (-webkit-background-clip: text) {
      .feature-box__icon {
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form {
  display: grid;
  grid-template-rows: repeat(5, max-content);
  gap: 2.5rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__label {
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__group--radio {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .form__group--radio {
        flex-direction: column;
        gap: 2rem; } }
  .form__radio-group {
    flex-basis: 50%;
    display: inline-block; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    position: relative; }
    .form__radio-button::after {
      content: "";
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #55c57a;
      opacity: 0;
      transition: opacity 0.2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form .btn {
    justify-self: start;
    align-self: start; }
    @media only screen and (max-width: 37.5em) {
      .form .btn {
        justify-self: center; } }

.story {
  width: 75%;
  padding: 5rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  border-radius: 3px;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 3rem;
  align-items: center; }
  .story > * {
    transform: skewX(12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      padding: 3rem;
      padding-left: 5rem;
      transform: skew(0deg); }
      .story > * {
        transform: skew(0); } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .story {
      width: 100%;
      grid-template-rows: auto 1fr;
      grid-template-columns: none;
      padding-left: 3rem; } }
  .story__image-box {
    width: 15rem;
    height: 15rem;
    display: flex;
    border-radius: 50%;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .story__image-box {
        justify-self: center; } }
  .story__image {
    width: 3rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: all 0.4s; }
  .story__caption {
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 20%);
    z-index: 1;
    opacity: 0;
    transition: all 0.4s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-30%, -50%); }
  .story:hover .story__image {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }
  @media only screen and (max-width: 37.5em) {
    .story__text {
      text-align: center; } }

.popup {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  backdrop-filter: blur(3px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s; }
  .popup__content {
    width: 75%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1.05fr 2fr;
    column-gap: 5rem;
    border-radius: 3px;
    transform: scale(0);
    transition: all 0.5s 0.2s; }
    @media only screen and (max-width: 75em) {
      .popup__content {
        width: 85%;
        column-gap: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        grid-template-rows: 1fr;
        grid-template-columns: none; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 95%; } }
  .popup__right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    padding: 4rem 0; }
    .popup__right .heading-secondary {
      margin-bottom: -1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        padding: 4rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .popup__right {
        padding: 4rem; } }
  .popup__img {
    display: block;
    width: 100%;
    height: 50%; }
    @media only screen and (max-width: 56.25em) {
      .popup__img {
        display: none; } }
  .popup__text {
    font-size: 1.4rem;
    margin-top: -1.2rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
    padding-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1;
        column-rule: 0; } }
  .popup__btn {
    align-self: flex-start; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1); }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    color: #777;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #55c57a; }

.about {
  display: flex;
  gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .about__text {
    flex-basis: 50%;
    padding: 0 5rem; }
    @media only screen and (max-width: 75em) {
      .about__text {
        padding: 0; } }
    @media only screen and (max-width: 56.25em) {
      .about__text {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        width: 90%; } }
  .about__images--box {
    flex: 1; }
    @media only screen and (max-width: 56.25em) {
      .about__images--box {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .about__images--box {
        width: 90%; } }

.row {
  min-width: 100%;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.25rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  .row .container--full {
    grid-column: full-start / full-end; }
  .row .container {
    grid-column: center-start / center-end; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 3000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  animation: display 1s 1s ease;
  animation-fill-mode: backwards;
  transition: all 0.5s; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  animation: display 1s 1s ease;
  animation-fill-mode: backwards;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }

.navigation__nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:hover {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all 0.2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-position: top;
  background-size: cover;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      height: 95vh;
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } }
  .header__logo-box {
    margin: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigations {
    display: flex;
    justify-content: center; }
  .footer__navigations-list {
    border-top: 1px solid #777;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__navigations-list {
        border-top: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copy-right {
    font-size: 1rem;
    text-align: center;
    color: #777;
    margin-top: 3rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0;
      margin-top: -15vh; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 12rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }
  .section-features__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
    gap: 6rem; }

.section-tours {
  padding: 20rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0 10rem 0; } }
  .section-tours__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .section-tours__row {
        grid-template-columns: 1fr; } }

.section-stories {
  padding: 20rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }
  .section-stories .container {
    display: grid;
    grid-template-rows: repeat(2, minmax(20rem, auto));
    row-gap: 6rem;
    justify-items: center; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 75%, transparent 25%), url(../img/nat-10.jpg); }
      .book__form {
        width: 75%;
        padding: 4rem; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 100%, transparent 0%), url(../img/nat-10.jpg); }
      .book__form {
        width: 100%;
        padding: 3rem; } }
