.row {
  min-width: 100%;
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14.25rem) [col-end]
    )
    [center-end] minmax(4rem, 1fr) [full-end];

  .container--full {
    grid-column: full-start / full-end;
  }

  .container {
    grid-column: center-start / center-end;
  }
}
